.page-header
  %h1
    TableGo with will_paginate
= render('authors.html.haml')

%pre
  = "HAML:\n" + File.read(Rails.root + 'app/views/root/_authors.html.haml')

%pre
  = "ERB:\n" + File.read(Rails.root + 'app/views/root/_authors.html.erb')
