.page-header
  %h1
    Simple table with table_go
= render('publishers.html.haml')

%pre
  = "HAML:\n" + File.read(Rails.root + 'app/views/root/_publishers.html.haml')

%pre
  = "ERB:\n" + File.read(Rails.root + 'app/views/root/_publishers.html.erb')

