.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
  .container
    %navbar-header
      = link_to('TableGo Example', root_path, class: 'navbar-brand')
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to('bla', '#')